.courses-div {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.courses-div img {
  width: 100%;
  height: 250px;
}

.courses-div .card {
  background-color: khaki;
}

.courses-div .card ul li {
  background-color: khaki;
}
.create-course {
  width: 10%;
  height: 2rem;
  background-color: black;
  font-size: large;
  font-weight: bold;
}

.create-course a {
  color: lime;
}
