.courses-div {
  /* margin: 1rem; */
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.courses-div img {
  width: 100%;
  height: 200px;
}

.courses-div .card {
  background-color: khaki;
}

.courses-div .card ul li {
  background-color: khaki;
}

.card-body a {
  border-radius: 1rem;
}

.card-body button {
  margin-left: 10px;
  border-radius: 1rem;
}
